/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/

	html,body,div,span,applet,object,iframe,
	h1,h2,h3,h4,h5,h6,p,blockquote,pre,
	a,abbr,acronym,address,big,cite,code,
	del,dfn,em,img,ins,kbd,q,s,samp,
	small,strike,strong,sub,sup,tt,var,
	b,u,i,center,
	dl,dt,dd,ol,ul,li,
	fieldset,form,label,legend,
	table,caption,tbody,tfoot,thead,tr,th,td,
	article,aside,canvas,details,embed,
	figure,figcaption,footer,header,hgroup,
	menu,nav,output,ruby,section,summary,
	time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	
	/* HTML5 display-role reset for older browsers */
	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section{display:block;}
	body{line-height:1;}
	ol,ul{list-style:none;}
	blockquote,q{quotes:none;}
	blockquote:before,blockquote:after,
	q:before,q:after{content:'';content:none;}
	table{border-collapse:collapse;border-spacing:0;}

/********************************
			Fonts
*********************************/

@font-face {
    font-family: 'JungleFeverRegular';
    src: url('../fonts/JungleFever-webfont.eot');
    src: url('../fonts/JungleFever-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/JungleFever-webfont.woff') format('woff'),
         url('../fonts/JungleFever-webfont.ttf') format('truetype'),
         url('../fonts/JungleFever-webfont.svg#JungleFeverRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/********************************
			Custom Properties
********************************/
/* root means the root element of the document, this will make your custom properties available to the whole page (or global in scope) */
:root{
	--mud-brown: #542401;
}

/********************************
			Main
*********************************/

body{
	background-color: #186b08;;
	font-family:Tahoma, Geneva, sans-serif;
}

header{
	text-align:center;
}

header h1{
	font-family:'JungleFeverRegular', 'Impact', Tahoma, Geneva, sans-serif;
	font-size:70px;
}

header h2{
	font-family:'JungleFeverRegular', 'Impact', Tahoma, Geneva, sans-serif;
	font-size:30px;
}

footer{
	font-size:16px;
	color:white;
	padding:10px 0 5px;
	margin-bottom:40px;
	text-align:center;
}

/********************************
	Special (added in class)
********************************/

/* always set a maximum width for your site */
/* padding and margin is top, left, right, and bottom in values */
/* calc can be used to calculate a value to keep it at a number you desire */
main{
	/* width: calc(960px - 50px); */
	width: 960px;
	margin: 0 auto;
	border: 25px solid var(--mud-brown);
	border-top: 0px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	padding: 25px 45px 45px;
/* to account for the extra margin and padding, we can use box-sizing */
	box-sizing: border-box;
	/* border-box means the padding and border will be calculated within the width of the element 
	(so long as you have a set width)*/
	background-image: url(../images/corkback.jpg);
	/* in boxshadow, the properties are
	type
	x offset
	y offset
	length (or size)
	color */
	box-shadow: 5px 5px 10px black, inset 3px 3px 7px black;
	/*first box shadow is outside, second is inside  */
	display:grid;
	grid-template-columns: 1fr;
}


/************ NAV **************/

nav{
	width: 960px;
	margin: 0 auto;
	background: var(--mud-brown);
	height: 55px;
	font-size: 2em;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	/* make the menu stick to the top of a page */
	position: sticky;
	top: 0;
	z-index: 50;
}

/* the > selector means direct child, or only the ul that is a direct child of the nav (and not the ul inside of the ul) */

nav > ul{
	display:flex;
	justify-content: flex-end;
	padding-top: 15px;
}

/* now to only effect the list items that are a direct child of the first ul */

nav > ul > li{
	padding: 0 10px;
	position: relative;
	/* this needs to be position relative so it will hold the absolutely positioned drop-down */	
}

nav ul li ul{
	display: none;
}

nav ul li:hover ul{
	display: block;
	position: absolute;
	background-color: var(--mud-brown);
	padding: 10px;
	box-shadow: 3px 3px 7px black;
}

nav a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

/* makes the links in the drop down menu look better */
nav ul li ul a{
	line-height: 1.5;
}

/***********PICTURES************/

p{
	line-height:1.4;
}

article{
	background-color: white;
	border: 1px solid #aaa;
	box-shadow: 2px 2px 4px rgb(50,50,50);
	border-radius: 2px;
}

header article{
	margin: 20px 0;
	padding: 10px;
}

section article{
	width: 350px;
	padding: 23px;
	position:relative
}

/* 2n is every other starting with second adding + 1 is every second starting with the first */
main section:nth-child(2n+1){
	justify-self:end;
	margin-top:-100px;
	margin-bottom: -100px;
}

/* tape thing */

section article::before{
	content: '';

	width:180px;
	height:50px;
	background-color: rgba(222,222,222,0.6);
	position: absolute;
	left: 105px;
	top:-15px;
	transform:rotate(-5deg)
}

/* the first letter pseudo class allows you to target the first letter within an HTML element */

h1 span{
	display: block;
	/* ::first-letter only works on block elements */
	margin: 0 15px; 
}

h1 span::first-letter{
	font-family: 'Moo Lah Lah', cursive;
	font-size: 1.3em
}

h1{
	display:flex;
	justify-content: center;
}

/***********ATTRIBUTE SELECTORS************/

a[href*="wiki"]{
	background-image:url(../images/wikipedia-icon.png);
	background-size:contain;
	background-repeat: no-repeat;
	padding-left:1.5em;
}